.top-bar {
    display: inline-flex;
    line-height: 55px;
    width: 100%;
    border-bottom: solid 5px darkgray;
    margin-bottom: .75rem;
}
.main-header {
    font-size: 1.5rem;
    text-align: left;
}
.logo {
    margin-right: 20px;
    margin-left: 20px;
}
.icon {
    width: 55px;
    height: 55px;
    background-size: contain;
    background-image: url('../chalk-icon.png');
    background-repeat: no-repeat;
    background-position: center;
}
.page-title {
    font-size: 1.75rem
}
.tile {
    font-size: 1.5rem;
    text-align: center;
    height: 200px;
    line-height: 200px;
    margin-bottom: .75rem;
    background-color: gray;
}

.tile.half-height {
    height: 100px;
    line-height: 100px;
}

a:hover {
    text-decoration: none !important;
}

.player > * {
    display: inline-block;;
}

.rank > * {
    display: inline-block;
}
th.wins {
    text-decoration: underline;
}
.num {
    padding-left: 25px !important;
}

.leaderboard-container .headers > * {
    display: inline-block
}
.form-control {
    margin-bottom: .75rem
}