<div class="leaderboard-container">
    <div class="row">
	<div class="col-lg-4">
	    <div class="page-title ">Leaderboard</div>
	</div>
	<div class="col-lg-8">
	    <input type="text" class="form-control" placeholder="Search names" ng-model="searchName">
	</div>
    </div>
    <div class="row">
	<table ng-init="sortCol = 'wins'; sortReverse = true" class="table table-striped">
	    <thead>
		<tr>
		    <th ng-click="sortCol= 'wins'; sortReverse = !sortReverse" class="rank col-lg-2 col-2">
                <a>
                    Rank
                </a>
            </th>
		    <th ng-click="sortCol = 'name'; sortReverse = !sortReverse" class="name col-lg-6 col-6">
                <a>
                    Name
                    <span ng-show="sortCol == 'name' && !sortReverse">&#9660;</span>
                    <span ng-show="sortCol == 'name' && sortReverse">&#9650;</span>
                </a>
            </th>
		    <th ng-click="sortCol = 'wins'; sortReverse = !sortReverse" class="wins col-lg-2 col-2">
                <a>
                    Wins
                    <span ng-show="sortCol == 'wins' && !sortReverse">&#9660;</span>
                    <span ng-show="sortCol == 'wins' && sortReverse">&#9650;</span>
                </a>
            </th>
		    <th ng-click="sortCol = 'win_percentage'; sortReverse = !sortReverse" class="win-percentage col-lg-2 col-2">
                <a>
                    Win %
                    <span ng-show="sortCol == 'win_percentage' && !sortReverse">&#9660;</span>
                    <span ng-show="sortCol == 'win_percentage' && sortReverse">&#9650;</span>
                </a>
            </th>
		</tr>
	    </thead>
	    <tbody>
		<tr ng-repeat="player in players | orderBy:sortCol:sortReverse | filter:searchName">
		    <td class="rank col-lg-2 col-2" ng-bind="player.rank"></td>
		    <td class="name col-lg-6 col-6" ng-bind="player.name"></td>
		    <td class="wins col-lg-2 col-2" ng-bind="player.wins"></td>
		    <td class="win-percentage col-lg-2 col-2" ng-bind="player.win_percentage | number: 3"></td>
		</tr>
	    </tbody>
	</table>
    </div>
</div>
