<div class="record-result-container">
    <label>Record Result</label>
    <div ng-hide="start"  class="player-select-container">
        <form ng-submit="startGame()">
            <div class="player1-search-container">
                <label>Player 1</label>
                <input id="player1" name="player1" placeholder="Search Players" ng-model="playerData.player1" type="text"/>
                <div ng-show="playerData.player1.length > 0" ng-repeat="player in players | filter:playerData.player1">
                    <div ng-click="setPlayer($event, 1)" class="name" ng-bind="player.name"></div>
                </div>
            </div>

            <div class="player1-search-container">
                <label>Player 2</label>
                <input id="player2" name="player2" placeholder="Search Players" ng-model="playerData.player2" type="text"/>

                <div ng-show="playerData.player2.length > 0" ng-repeat="player in players | filter:playerData.player2">
                    <div ng-click="setPlayer($event, 2)" class="name" ng-bind="player.name"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Start Game</button>
        </form>
    </div>
    <div ng-show="start" class="choose-winner-container">
    	<button ng-click="setWinner(playerData.player1)" class="player1-win" ng-bind="playerData.player1"></button>
    	<div class='vs'>vs</div>
    	<button ng-click="setWinner(playerData.player2)" class="player2-win" ng-bind="playerData.player2"></button>
    </div>
    <div class="game-message-container" ng-show="showGameMessage" ng-bind="gameMessage">
    </div>
</div>
