.top-bar {
  display: inline-flex;
  line-height: 55px;
  width: 100%;
  border-bottom: solid 5px #eee;
  margin-bottom: .75rem;
}

.main-header {
  font-size: 1.5rem;
  text-align: left;
}

.logo {
  margin-right: 20px;
  margin-left: 20px;
}

.icon {
  width: 55px;
  height: 55px;
  background-size: contain;
  background-image: url('../chalk-icon.png');
  background-repeat: no-repeat;
  background-position: center;
}

.page-title {
  font-size: 1.75rem;
}

.tile {
  cursor: pointer;
  position: relative;
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  height: 200px;
  line-height: 200px;
  margin-bottom: .75rem;
  border: 2px solid #eee;
  transition: all 0.3s ease;
  overflow: hidden;
  &.half-height {
    height: 100px;
    line-height: 100px;
  }
  &:hover {
    color: #166db1;
    border: 2px solid gray;
    font-size: 1.75rem;
    .bg-icon {
      &#record {
        color: gray;
        font-size: 20rem;
      }
      &#leaderboard {
        margin-top: -2px;
        height: 100px;
        fill: gray;
      }
      &#add {
        margin-top: -4px;
        height: 105px;
        fill: gray;
      }
    }
    .text {
      color: white;
      background-color: gray;
    }
  }
}

.background-icon-container {
  position: relative;
  width: 100%;
}

.bg-icon {
  &#record {
    transition: all 0.5s ease;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 23rem;
    color: #eee;
  }
  &#leaderboard {
    transition: all 0.5s ease;
    height: 120px;
    margin-top: -12px;
    fill: #eee;
  }
  &#add {
    transition: all 0.5s ease;
    height: 130px;
    margin-top: -9px;
    fill: #eee;
  }
}

.tile .text {
  transition: all 0.5s ease;
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 1rem;
  line-height: 1rem;
  padding: 3px 9px;
  color: gray;
  background-color: #eee;
}

.player > *, .rank > * {
  display: inline-block;
}

th {
  cursor: pointer;
  &.wins, &.rank {
    text-align: center;
  }
}

td {
  &.wins, &.rank {
    text-align: center;
  }
}

.leaderboard-container .headers > * {
  display: inline-block;
}

.form-control {
  margin-bottom: 0.75rem;
}

.message-container {
  &.ng-binding {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    color: #166db1;
    border: 1px solid #166db1;
    border-radius: 2px;
    box-sizing: border-box;
  }
  &.error {
    color: red !important;
    border: 1px solid red !important;
  }
}

.choose-winner-container {
  margin-left: 0px !important;
  padding: 1rem 1.25rem !important;
}

.vs-container {
  position: relative;
  height: 3rem;
}

.vs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  height: 6.85rem;
}

.player-dropdown {
  position: relative;
}

.player-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
}

.player-dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
  &:hover {
    color: #014c8c;
  }
}

.win-btn {
  width: 100%;
}

.ciu-border-box {
  padding: 1rem;
  border: solid #eee;
  border-width: .2rem;
}

.winner-action {
  position: relative;
  height: 200px;
}

.mid {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.loading-spinner-container {
  text-align: center;
  svg {
    margin-top: 1rem;
    width: 20px;
    height: 20px;
    animation: load 1.4s infinite linear;
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
